body{
	background-color: lightblue;
}

.menu {
  background-color: #333; /* Couleur de fond du menu */
}

.menu ul {
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

.menu li {
  display: inline-block; /* Affiche les éléments de la liste en ligne */
  margin-right: 20px; /* Marge à droite entre les éléments de la liste */
}

.menu a {
  text-decoration: none; /* Supprime la soulignement des liens */
  color: #fff; /* Couleur du texte des liens */
  font-weight: bold; /* Gras pour le texte des liens */
}

.menu a:hover {
  color: #ffcc00; /* Couleur du texte des liens au survol */
}